body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
  height: 12px;
}

.row div{
  display:inline-block;
  width: 12px;
  height: 12px;
  // border: 1px solid black;
}

.row div:hover{
  border-color: white;
}

.blocked {
  background-color: #29293d;
  // border-radius: 20px;
  height: 30px;
}

.open {
  // background-color: #999;
  
}

.hasPlayer{
  background-color: yellow;
  // border-radius: 5px;
  // border: 1px solid red;


    border: 3px solid yellow;
    border-radius: 30px;
    height: 18px;
    width: 18px;
    position: absolute;
   
    animation: pulsate 1.5s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.0


}

   @keyframes pulsate {
    0% {transform: scale(0.5, 0.5); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1, 1); opacity: 1.0;}
   }